In [73]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import re

In [ ]:
# NASA Mars News

In [61]:
url = 'https://mars.nasa.gov/news'
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')

In [67]:
results_title = soup.find_all('li',class_="slide")


results_title

[]

In [60]:
results_p = soup.find_all('div', class_='article_teaser_body')
results_p

[]

In [51]:
for result in results:
    news_title = result.find('div',class_='content_title').text
    
    news_p = result.find ('div',class_='article_teaser_body').text
    
    print('--------------')
    print(news_title)
    print(news_p)

In [42]:
### JPL Mars Space Image

In [69]:
executable_path = {'executable_path': 'driver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [70]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [76]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
pic_url = soup.find('div',class_='carousel_items').find('article','carousel_item')['style']
pic_url

"background-image: url('/spaceimages/images/wallpaper/PIA03519-1920x1200.jpg');"

In [81]:
pic_url_edit=re.search('\(([^)]+)', picture_url).group(1)
pic_url_edit

"'/spaceimages/images/wallpaper/PIA03519-1920x1200.jpg'"

In [83]:
featured_image_url='https://www.jpl.nasa.gov' + pic_url_edit.strip('"\'')
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA03519-1920x1200.jpg'

In [ ]:
#   Mars Weather

In [84]:
mars_tweeter_url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(mars_tweeter_url)
soup = BeautifulSoup(response.text,'html.parser')

In [96]:
mars_weather = soup.find('div', class_='css-1dbjc4n r-aqfbo4 r-16y2uox').find('div',class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').find('span',class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

mars_weather

AttributeError: 'NoneType' object has no attribute 'find'

In [97]:
# Mars Facts

In [98]:
mars_fact_url = 'https://space-facts.com/mars'

In [99]:
tables = pd.read_html(mars_fact_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [101]:
fact_df = tables[0]
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [103]:
html_table = fact_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [104]:
# Mars Hemispheres